<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Framework</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/lib/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bundle.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <div class="item"> @Html.ActionLink("Home", "Index", "Home")</div>
        <div class="item">  @Html.ActionLink("Plugins", "Index", "Parser")</div>
        <div class="item"> @Html.ActionLink("Contact", "Contact", "Home")</div>
    </div>
</div>
<!--Sidebar Menu-->
<div class="ui vertical inverted sidebar menu">
    <div class="item"> @Html.ActionLink("Home", "Index", "Home")</div>
    <div class="item">  @Html.ActionLink("Plugins", "Index", "Parser")</div>
    <div class="item"> @Html.ActionLink("Contact", "Contact", "Home")</div>
</div>
    <!-- Page Contents -->

        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item"><i class="sidebar icon"></i></a>
                    <a class="item" href="/Home">Home</a>
                    <a class="item" href="/Parser">Plugins</a>
                    <a class="item" href="/Home/Contact">Contact</a>
                </div>
            </div>
            <div class="ui container">
                @RenderBody()
            </div>
            </div>
    
        <div class="ui vertical footer segment">
            <div class="ui container">
                <div class="ui stackable  divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui header">About</h4>
                        <div class="ui  link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header">Services</h4>
                        <div class="ui  link list">
                            <a href="#" class="item">Service One</a>
                            <a href="#" class="item">Service Two</a>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <h4 class="ui header">In short...</h4>
                        <p>Framework is the first of its kind, a zero-confige Framework for process mining. We combine proven techniques with the state of the art to give a never before seen visualisation of your software.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/js/lib/jquery.js"></script>
        <script src="~/js/lib/semantic.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
